<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.wunwun.plugins.social-composer"
      version="1.0.0">

  <name>SocialComposer</name>
  <author>Calvin Lai</author>
  <description>Enables native composing for tweets and Facebook posts for iOS based Cordova apps.</description>

  <js-module src="www/social-composer.js" name="SocialComposer">
    <clobbers target="plugins.socialComposer" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SocialComposer">
        <param name="ios-package" value="SocialComposer" />
      </feature>
    </config-file>
    <header-file src="src/ios/SocialComposer.h" />
    <source-file src="src/ios/SocialComposer.m" />
  </platform>

</plugin>
