<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.wunwun.plugins.push-notification"
      version="1.0.0">

  <name>PushNotification</name>
  <author>Calvin Lai</author>
  <description>Enables Push Notifications for iOS based Cordova apps.</description>

  <js-module src="www/push-notification.js" name="PushNotification">
    <clobbers target="plugins.pushNotification" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Pusnotification">
        <param name="ios-package" value="PushNotification" />
      </feature>
    </config-file>
    <header-file src="src/ios/PushNotification.h" />
    <source-file src="src/ios/PushNotification.m" />
  </platform>

</plugin>
